/* Layout Css  */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2196f3;
    max-width: 360px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.topBar {
    display: flex;
    background-color: #90caf9;
    width: 100%;
    height: 50px;
}

.topBar_sect1 {
    align-self: center;
    margin-left: 20px;
    background-color: #90caf9;
}

.hamicn {
    width: 24px;
}

.hamburger {
    display: none;
    position: fixed;
    min-width: 304px;
    height: 100%;
    flex-direction: row;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    top: 0;
    left: 0;
}

.menu {
    min-width: 304px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.back {
    width: 200px;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

.hamburgare_js {
    display: flex;
}

@keyframes dropHeader {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.button {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #737373;
    text-align: center;
    width: 100%;
    justify-content: center;
}

a:hover {
    color: red;
}

.topBar_sect2 {
    margin-left: 10px;
    margin-right: 100px;
    align-self: center;
    align-items: center;
    background-color: #90caf9;
}

.topBar_sect3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    background-color: #90caf9;
}

.menu_icon1 {
    width: 24px;
}




/* Layout Css  */

/* Index Css  */

.mainScreen {
    display: flex;
    flex-direction: column;
}

.storeCardRow1{
    display: flex;
    flex-direction: row;
}

.storeCardRow2 {
    display: flex;
    flex-direction: row;
}

.storeCardRow3 {
    display: flex;
    flex-direction: row;
}

.shopCard {
min-width: 100px;
height:  135px;
border-radius: 5px;
background-color: white;
margin-left: 9px;
margin-top: 14px;
}

.storeH1 {
    font-size: 14px;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}

.moreH1 {
    font-size: 14px;
    color: black;
    margin-top: 20px;
    margin-right: 40px;

}

.storeCardH1 {
    font-size: 14px;
    color: black;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.menu_icon2 {
    width: 24px;
    margin-left: 25px;
}

.shopCardPicture {
    margin: 5px;
    height: 90px;
    width: 90px;

}

/* Index Css  */
