<div class="mainScreen">
  <div class="background">
      <header>
    <h1>About Us</h1>
  </header>

  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent iaculis urna sem. Cras lacinia vestibulum eros ut bibendum. Duis ultrices rhoncus ante, ut blandit felis eleifend eget. Nam sit amet libero et magna pulvinar pulvinar eget sit amet metus. Donec lacinia vulputate quam id eleifend. Nulla facilisi. In vestibulum iaculis lacinia.</p>
    <p>Donec mi ante, fermentum eget efficitur nec, posuere eget ante. Cras in tempus leo, nec pretium nibh. Curabitur vestibulum euismod magna, nec aliquam mi ornare a. Curabitur sollicitudin dignissim sem, at placerat urna feugiat a. Pellentesque eu pharetra enim. Praesent fermentum metus et lacus vestibulum placerat. Cras id auctor urna, eget ultrices tellus. Etiam pellentesque at erat vel mollis. Nullam sem purus, vestibulum sit amet lacus sit amet, scelerisque suscipit nibh. Suspendisse diam eros, tincidunt non ligula malesuada, feugiat pretium lectus.</p>
  </div>
  </div>

</div>
