<div class="mainScreen">

    <div class="infobox" id="top2">
                    <h1 class="center">lorem</h1>
        <div class="row">
            <p class="margin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce massa massa, pretium sit amet lacus in, sollicitudin gravida nisi.Etiam interdum felis magna, non consectetur dolor mollis a. Pellentesque sollicitudin, purus eu rhoncus dapibus,
            </p>
            <img src="./img/Plane3.jpg" alt="" class="chassisCardPicture">
        </div>
        <p class="margin">
            Etiam interdum felis magna, non consectetur dolor mollis a. Pellentesque sollicitudin, purus eu rhoncus dapibus, massa ex condimentum lorem, sit amet condimentum massa leo sed nisi. Pellentesque justo erat, fringilla vel sem id, dignissim suscipit
            arcu. Proin consequat orci ut lorem lacinia, et dignissim nisl tempus. Nulla facilisi. Nulla rutrum est sit amet justo suscipit, id faucibus mauris viverra.
        </p>
        <div class="row">
            <p class="margin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce massa massa, pretium sit amet lacus in, sollicitudin gravida nisi.Etiam interdum felis magna, non consectetur dolor mollis a. Pellentesque sollicitudin, purus eu rhoncus dapibus,
            </p>
            <img src="./img/Boeing-747-104.png" alt="" class="chassisCardPicture">
        </div>
    </div>

</div>
