<!DOCTYPE html>
<html>
    <head>
        <title>Airplane Mode</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="./css/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>

        <header class="topBar">

            <div class="topBar_sect1">
                <img src="./img/ic_menu_white_48px.svg" class="hamicn" onclick="hamburgar_meny()"/>

                <div class="hamburger">

                    <div class="menu">

                        <div>
                            <img src="./img/Header.jpg">
                        </div>

                        <div class="button">
                            <a href="this.html">example 1</a>
                        </div>

                        <div class="button">
                            <a href="forum.html">example 2</a>
                        </div>

                        <div class="button">
                            <a href="gallery.html">example 3</a>
                        </div>

                        <div class="button">
                            <a href="community.html">example 4</a>
                        </div>

                        <div class="button">
                            <a href="faq.html">example 5</a>
                        </div>

                    </div>
                    <div class="back" onclick="hamburgar_meny()">
                    </div>
                </div>
            </div>

            <div class="topBar_sect2">
                <h1>Home</h1>
            </div>

            <div class="topBar_sect3">
                <img src="./img/ic_more_vert_white_24px.svg" class="menu_icon1">
            </div>
        </header>
        <%= yield %>
    </body>
    <script src="./js/main.js"></script>
</html>
