<div class="main">

<div class="chassis_card"  id="top">

  <div class="row">
    <div class="column">

    <h1> Boeing 747</h1>
    <p>
      One of the bigggest in commercial airlines
    </p>
    </div>
    <img src="./img/Plane1.jpg" alt="" class="chassisCardPicture">
  </div>

  <div class="row">
    <a href="Boeing.html" class="storeH1">READ MORE</a>
    <h1>USE</h1>
  </div>

</div>

</div>
