<div class="mainScreen">
    <div class="column">

        <div id="top"></div>

        <div class="row" id="row">

            <div class="chassis_card">

                <div class="row">
                    <div class="column">

                        <h1 class="chassiH1_top">
                            Boeing 747</h1>
                        <p class="chassiP">
                            One of the biggest in commercial airlines
                        </p>
                    </div>
                    <img src="./img/Plane1.jpg" alt="" class="chassisCardPicture">
                </div>

                <div class="row">
                    <a href="information.html" class="read">READ MORE</a>
                    <h1 class="chassiH1">USE</h1>
                </div>

            </div>

            <div class="chassis_card">

                <div class="row">
                    <div class="column">

                        <h1 class="chassiH1_top">
                            B2 Bomber</h1>
                        <p class="chassiP">
                            Stelthy, quick, not so agile
                        </p>
                    </div>
                    <img src="./img/Plane2.jpg" alt="" class="chassisCardPicture">
                </div>

                <div class="row">
                    <a href="information.html" class="read">READ MORE</a>
                    <h1 class="chassiH1">USE</h1>
                </div>

            </div>

            <div class="chassis_card">

                <div class="row">
                    <div class="column">

                        <h1 class="chassiH1_top">
                            Airbus 320</h1>
                        <p class="chassiP">
                            Airbus 320 is one of the most common airbusses and carry millions of people every year
                        </p>
                    </div>
                    <img src="./img/Plane3.jpg" alt="" class="chassisCardPicture">
                </div>

                <div class="row">
                    <a href="information.html" class="read">READ MORE</a>
                    <h1 class="chassiH1">USE</h1>
                </div>

            </div>
        </div>
    </div>

</div>
