<div class="mainScreen">

    <div class="row" id="popular_row">

        <div class="storeCard2">
            <img src="./img/Plane2.jpg" class="storeCardPicture2"/>
            <div class="row">
                <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
                <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
                <img src="./img/ic_share.png" alt="share" class="popular_card">
            </div>
        </div>

        <div class="storeCard2">
            <img src="./img/Plane3.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane1.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane4.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane1.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane6.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane5.jpg" class="storeCardPicture2"/>
            <div class="row">
                <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
                <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
                <img src="./img/ic_share.png" alt="share" class="popular_card">
            </div>
        </div>

        <div class="storeCard2">
            <img src="./img/Plane3.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane1.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane4.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane5.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane6.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane2.jpg" class="storeCardPicture2"/>
            <div class="row">
                <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
                <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
                <img src="./img/ic_share.png" alt="share" class="popular_card">
            </div>
        </div>

        <div class="storeCard2">
            <img src="./img/Plane4.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane1.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane3.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane2.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane6.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane2.jpg" class="storeCardPicture2"/>
            <div class="row">
                <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
                <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
                <img src="./img/ic_share.png" alt="share" class="popular_card">
            </div>
        </div>

        <div class="storeCard2">
            <img src="./img/Plane3.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane1.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane4.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane2.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>

        <div class="storeCard2">
            <img src="./img/Plane6.jpg" class="storeCardPicture2"/>
            <img src="./img/ic_favorite_unselected.png" alt="share" class="popular_card" onclick="heart()">
            <img src="./img/Wikipedia-logo-v2.png" alt="share" class="popular_card">
            <img src="./img/ic_share.png" alt="share" class="popular_card">
        </div>
    </div>
</div>
