<div class="mainScreen">
  <div class="settings" id="top2">
    <div class="row" id="settings">
      <p>lorem lorem</p>
      <img src="./img/switch_off.png" alt="" class="setting_button">
    </div>

    <div class="row" id="settings">
      <p>lorem lorem</p>
      <img src="./img/switch_off.png" alt="" class="setting_button">
    </div>

    <div class="row" id="settings">
      <p class="settings_P">lorem lorem</p>
      <img src="./img/switch_off.png" alt="" class="setting_button">
    </div>

    <div class="row" id="settings">
      <p >lorem lorem</p>
      <img src="./img/switch_off.png" alt="" class="setting_button">
    </div>
  </div>
</div>
