<div class="mainScreen">
    <div class="settings" id="top2">
        <div class="row" id="settings">
            <p>lorem lorem</p>
            <div class="setting_button s_unselected" onclick="settingsbutton(this)"></div>
        </div>

        <div class="row" id="settings">
            <p>lorem lorem</p>
            <div class="setting_button s_unselected" onclick="settingsbutton(this)"></div>
        </div>

        <div class="row" id="settings">
            <p class="settings_P">lorem lorem</p>
            <div class="setting_button s_unselected" onclick="settingsbutton(this)"></div>
        </div>

        <div class="row" id="settings">
            <p >lorem lorem</p>
            <div class="setting_button s_unselected" onclick="settingsbutton(this)"></div>
        </div>

        <div class="slider">
            <h1>Lorem Lorem</h1>
            <input type="range" min="0" max="50" value="25" />
        </div>

    </div>
</div>
