/* Layout Css  */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2196f3;
    max-width: 360px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
}

.topBar {
    display: flex;
    background-color: #90caf9;
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.topBar_sect1 {
    align-self: center;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    background-color: #90caf9;
}

.hamicn {
    width: 24px;
    margin-top: 3px;
}

.hamburger {
    display: none;
    position: fixed;
    min-width: 304px;
    height: 100%;
    flex-direction: row;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    top: 0;
    left: 0;
}

.menu {
    min-width: 304px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.shadow {
    width: 200px;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

.hamburgare_js {
    display: flex;
}

@keyframes dropHeader {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.button {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #737373;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: red;
}

.topBar_sect2 {
    margin-left: 10px;
    margin-right: 100px;
    align-self: center;
    align-items: center;
    background-color: #90caf9;
}

.topBar_sect3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    background-color: #90caf9;
}

.menu_icon1 {
    width: 24px;
}


/* Layout Css  */


/* Index Css  */

.mainScreen {
    display: flex;
    flex-direction: column;
}

.storeCardRow {
    display: flex;
    flex-direction: row;
    overflow-x:  scroll;
    padding-bottom: 20px;
}

#top {
  margin-top: 50px;
}

.storeCardRow::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.shopCard {
    min-width: 100px;
    height: 135px;
    border-radius: 2px;
    background-color: white;
    margin-left: 9px;
    margin-top: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.storeH1 {
    font-size: 14px;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.moreH1 {
    font-size: 12px;
    margin-top: 20px;
    color: white;
    width: 50px;
    right:30px;
    position: absolute;
    font-weight: 900;
    z-index: -1;
}

.moreH1:hover {
  color: white;
}

.storeCardH1 {
    font-size: 14px;
    color: black;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.menu_icon2 {
    width: 24px;
    margin-left: 25px;
}

.shopCardPicture {
    margin: 5px;
    height: 90px;
    width: 90px;
}


/* Index Css  */
